body {
	text-align: center;
	background-size: cover;
	line-height: 1em;
}

header {
	padding: 20px;
	border-style: solid;
	border-color: #7EBF8C;
}

nav {
	padding: 20px;
	background-color: #fffcbc;
}

#two_column {
	padding: 10px;
	background-color: #d9ffe3;
}

#left {
	padding: 20px;
	float: left;
	width: 45%;
}

#right {
	padding: 20px;
	float: right;
	width: 45%;
}

.twopics{
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

aside {
	padding: 20px;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 20px;
}

footer {
	padding: 20px;
	background-color: #fffcbc;
}

#middle {
	padding: 20px;
	background-color: #d9ffe3;
	padding: 20px;
}

hr{
  width: 80%;
}

.imgtext {
	text-align: center;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 25px;
	color: black;
	line-height: 1em;
}

img{
	width: 100%;
}

#company{
	font-family: 'Amatic SC', cursive;
	font-style: bolder;
	font-size: 60px;
	color: #7EBF8C;
	line-height: 1em;


}

#slogan{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 30px;
	color:#f59fae;

}

.links{
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	color: #7EBF8C;
	padding: 20px;
	line-height: 1.5em;

}

#message{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 25px;
	color: #f59fae;
	line-height: 1em;
	padding: 20px 50px;
	border-style: solid;
	border-color: #7EBF8C;
}

@media only screen and (max-width: 855px) {

#left {
	padding: 20px;
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#right {
	padding: 20px;
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}